<%= form_with(model: input, local: true) do |form| %>
  <% if input.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(input.errors.count, "error") %> prohibited this input from being saved:</h2>

      <ul>
        <% input.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age %>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <%= form.text_field :gender %>
  </div>

  <div class="field">
    <%= form.label :height_feet %>
    <%= form.text_field :height_feet %>
  </div>

  <div class="field">
    <%= form.label :height_inches %>
    <%= form.text_field :height_inches %>
  </div>

  <div class="field">
    <%= form.label :weight %>
    <%= form.text_field :weight %>
  </div>

  <div class="field">
    <%= form.label :bed_time %>
    <%= form.text_field :bed_time %>
  </div>

  <div class="field">
    <%= form.label :wake_up_time %>
    <%= form.text_field :wake_up_time %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
