<p id="notice"><%= notice %></p>

<p>
  <strong>Age:</strong>
  <%= @input.age %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @input.gender %>
</p>

<p>
  <strong>Height_feet:</strong>
  <%= @input.height_feet %>
</p>

<p>
  <strong>Height_inches:</strong>
  <%= @input.height_inches %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @input.weight %>
</p>
<%= line_chart Input.group_by_day(:weight).count, library: {backgroundColor: "#F8F8F8"} %>
<%= link_to 'Edit', edit_input_path(@input) %> |
<%= link_to 'Back', inputs_path %>
