<!DOCTYPE html>
<head>
  <title>Health History</title>
  <meta charset="UTF-8">
</head>
<body>
<!-- Generates header-->
<header>
  <h1>Crystal Ball Fitness Tracker</h1>
</header>
<!-- Generates navbar-->
<nav>
  <%= link_to "Home | ", root_path %>
  <% if user_signed_in? %>
    <%= link_to "History | ", inputs_path %>
    <%= link_to "Enter Data | ",new_input_path %>
    <%= link_to "Meals | ", meals_path %>
    <%= link_to "Log out", destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to "Log in | ", new_user_session_path %>
    <%= link_to "Sign up", new_user_registration_path %>
  <% end %>
</nav>
<p>Welcome to Our Fitness app</p>
<h1>Graphs of fitness trends</h1>
<!-- Generates footer-->
<footer>
  <div><p>@user.name's Health History</p></div>
</footer>
</body>
</html>
